.App {
  text-align: center;
}

body {
  background-color: #43413e;
}

ul {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.li-2 {
  display: flex;
  min-width: 400px;
  min-height: 50px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  background: linear-gradient(to right, #ffefba, #ffffff);
}